body {
    background: black;
    color: #bbbbbb;
}
.pre,
pre {
    /*font-family: "DejaVu Sans Mono", Menlo, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;*/
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-family: monospace,monospace;
    font-size: 75%;
}

input[type="text"]{
    border: none;
    background: transparent;
    color: #bbbbbb;
}
