diagram
colorclass~=1.1.2
pymongo
gevent~=23.9.0
flask
pygments
requests
dateutils
redis
colored
terminaltables~=1.2.1
colorama
termcolor
PyYAML
dateparser
pylint
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
