diagram
colorclass~=1.1.2
pymongo
gevent~=1.2.2
flask
pygments
requests
dateutils
redis
colored
terminaltables~=1.2.1
colorama
termcolor
PyYAML
dateparser
pylint
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
